In [1]:
!pip install Pyspark

Collecting Pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 32 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.4 MB/s
Building wheels for collected packages: Pyspark
  Building wheel for Pyspark (setup.py) ... done
  Created wheel for Pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=e506dfcc04020ec7a5d1e14431f2c079dd6de4c3a005fc32b77309b1319638dd
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built Pyspark
Installing collected packages: py4j, Pyspark
Successfully installed Pyspark-3.2.1 py4j-0.10.9.3

In [2]:
from pyspark import SparkConf, SparkContext

In [3]:
if __name__ == "__main__":
    conf=SparkConf().setAppName("second").setMaster("local")
    sc=SparkContext(conf=conf)

In [4]:
first = sc.parallelize(["animal tiger","flower lotus","bird peacock","falg tiranga"])  #parallelize function creates RDD

In [5]:
symbols = first.map(lambda x:x.split(" ")[0])

In [6]:
symbols.collect()

['animal', 'flower', 'bird', 'falg']

In [22]:
symbols.count()

4

In [7]:
values = first.map(lambda x:x.split(" ")[1])
values.collect()

['tiger', 'lotus', 'peacock', 'tiranga']

In [8]:
final = first.map(lambda x:(x.split(" ")[0], x.split(" ")[1]))
final.collect()

[('animal', 'tiger'),
 ('flower', 'lotus'),
 ('bird', 'peacock'),
 ('falg', 'tiranga')]

In [9]:
final.coalesce(1).saveAsTextFile("Myfirst.csv")

In [10]:
values.coalesce(1).saveAsTextFile("Mysecond.csv")

Working with dataset and RDD --
data set ki file upload krne ke liye usko pehle colab me upload krna h fr uska path dalna hai

In [16]:
newRDD = sc.textFile("/IBMdata (2).csv")

In [12]:
type(newRDD)
type(final)

pyspark.rdd.PipelinedRDD

In [17]:
newRDD.take(5)

['Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager',
 '41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5',
 '49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7',
 '37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0',
 '33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0']

In [18]:
age = newRDD.map(lambda x:x.split(",")[0])
age.take(5)

['Age', '41', '49', '37', '33']

In [21]:
Atrrition = newRDD.map(lambda x:x.split(",")[1])
Atrrition.take(7)  #7 is the column index

['Attrition', 'Yes', 'No', 'Yes', 'No', 'No', 'No']

In [24]:
Atrrition.coalesce(1).saveAsTextFile("Newdata.csv")

In [25]:
newRDD.count()

1471

#### Creating function to perform multiple tasks rather than using lambda function

In [32]:
def myfunc(myrecord):
  at = myrecord.split(",")[1]
  dept = myrecord.split(",")[4]
  edu = myrecord.split(",")[6]
  return at + " Belongs to " + dept + " His education is "+ edu

map fuction applies the user defined function on each and every element of the RDD if it is passed in the map()

map function takes input in the form of function it could be lambda function or a user defined function

In [33]:
resultRDD = newRDD.map(myfunc)

In [34]:
resultRDD.take(4)

['Attrition Belongs to Department His education is Education',
 'Yes Belongs to Sales His education is 2',
 'No Belongs to Research & Development His education is 1',
 'Yes Belongs to Research & Development His education is 2']

filter function - filters records acc to user needs

In [35]:
department = newRDD.map(lambda x: x.split(",")[4])

In [36]:
department.take(6)

['Department',
 'Sales',
 'Research & Development',
 'Research & Development',
 'Research & Development',
 'Research & Development']

In [37]:
department.count()

1471

In [38]:
#filtering sales department
selectdept = department.filter(lambda x: "Sales" in x)

In [41]:
selectdept.count()  #after tranforming RDD a new RDD is created 
#already existing RDD se jab hum filter/ extract krte hai to it becomes pipeline RDD

446

In [42]:
# filtering new dept
RandD = department.filter(lambda x: "Research & Development" in x)
RandD.count()

961