In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 28 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d0c349c073810dc1cba02a846a8dc3dca2d1cc41af1cb01eadb07d693df1a8ab
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
if __name__ =="__main__":
  session = SparkSession.builder.appName("firstsql").master("local[2]").getOrCreate()
  readdata = session.read

In [4]:
ibmdata = readdata.option("header",True).option("inferSchema",True).csv("/content/IBMdata (2).csv")

In [5]:
ibmdata.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [6]:
result = ibmdata.select("Gender","Age")
result.show()

+------+---+
|Gender|Age|
+------+---+
|Female| 41|
|  Male| 49|
|  Male| 37|
|Female| 33|
|  Male| 27|
|  Male| 32|
|Female| 59|
|  Male| 30|
|  Male| 38|
|  Male| 36|
|  Male| 35|
|Female| 29|
|  Male| 31|
|  Male| 34|
|  Male| 28|
|Female| 29|
|  Male| 32|
|  Male| 22|
|Female| 53|
|  Male| 38|
+------+---+
only showing top 20 rows

In [10]:
result2 = ibmdata.select("Age","DailyRate",ibmdata.Department.like("S%"))
result2.show()

+---+---------+------------------+
|Age|DailyRate|Department LIKE S%|
+---+---------+------------------+
| 41|     1102|              true|
| 49|      279|             false|
| 37|     1373|             false|
| 33|     1392|             false|
| 27|      591|             false|
| 32|     1005|             false|
| 59|     1324|             false|
| 30|     1358|             false|
| 38|      216|             false|
| 36|     1299|             false|
| 35|      809|             false|
| 29|      153|             false|
| 31|      670|             false|
| 34|     1346|             false|
| 28|      103|             false|
| 29|     1389|             false|
| 32|      334|             false|
| 22|     1123|             false|
| 53|     1219|              true|
| 38|      371|             false|
+---+---------+------------------+
only showing top 20 rows

In [12]:
result3 = ibmdata.select("Gender",ibmdata.JobRole.startswith("Sales"))
result3.show()

+------+--------------------------+
|Gender|startswith(JobRole, Sales)|
+------+--------------------------+
|Female|                      true|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
|  Male|                     false|
|Female|                     false|
|  Male|                     false|
+------+--------------------------+
only showing top 20 rows

In [13]:
result4 = ibmdata.select("Department", ibmdata.Age.between(80,90))
result4

DataFrame[Department: string, ((Age >= 80) AND (Age <= 90)): boolean]

In [15]:
result5 = ibmdata.select("Gender",ibmdata.Department.isin("Sales","Human Resources"))
result5.show()

+------+----------------------------------------+
|Gender|(Department IN (Sales, Human Resources))|
+------+----------------------------------------+
|Female|                                    true|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                   false|
|  Male|                                   false|
|  Male|                                   false|
|Female|                                    true|
|  Male|                                   false|
+------+----------------------------------------+
only showing top 20 rows

In [16]:
result6 = ibmdata.select("Attrition",ibmdata.JobRole.endswith("Manager"))
result6.show()

+---------+--------------------------+
|Attrition|endswith(JobRole, Manager)|
+---------+--------------------------+
|      Yes|                     false|
|       No|                     false|
|      Yes|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|      Yes|                     false|
|       No|                     false|
|       No|                     false|
|       No|                     false|
|       No|                      true|
|       No|                     false|
+---------+--------------------------+
only showing top 20 rows

In [19]:
result7 = ibmdata.select("Gender",ibmdata.JobRole.substr(1,4), ibmdata.Age.when()

TypeError: ignored

In [ ]:
result8 = ibmdata.select("Gender", ibmdata.JobRole.substr)

In [24]:
result9 = ibmdata.filter((ibmdata['Gender']=='Male') & (ibmdata['MaritalStatus'] == 'Married'))
result9.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1|   Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|         Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|         Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|         Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 42|       No|    Travel_Rarely|      691|               Sales|               8|        4|       Marketing|            1|            35|                      3|  Male|        48|             3|       2|     Sales Executive|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|               1|               10|                    2|              3|             9|                 7|                      4|                   2|
| 44|       No|    Travel_Rarely|     1459|Research & Develo...|              10|        4|           Other|            1|            40|                      4|  Male|        41|             3|       2|Healthcare Repres...|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|               0|                9|                    5|              4|             4|                 2|                      1|                   3|
| 39|      Yes|    Travel_Rarely|      895|               Sales|               5|        3|Technical Degree|            1|            42|                      4|  Male|        56|             3|       2|Sales Representative|              4|      Married|         2086|       3335|                 3|     Y|      No|               14|                3|                       3|           80|               1|               19|                    6|              4|             1|                 0|                      0|                   0|
| 24|      Yes|    Travel_Rarely|      813|Research & Develo...|               1|        3|         Medical|            1|            45|                      2|  Male|        61|             3|       1|  Research Scientist|              4|      Married|         2293|       3020|                 2|     Y|     Yes|               16|                3|                       1|           80|               1|                6|                    2|              2|             2|                 0|                      2|                   0|
| 50|      Yes|    Travel_Rarely|      869|               Sales|               3|        2|       Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 37|       No|    Travel_Rarely|      408|Research & Develo...|              19|        2|   Life Sciences|            1|            61|                      2|  Male|        73|             3|       1|  Research Scientist|              2|      Married|         3022|      10227|                 4|     Y|      No|               21|                4|                       1|           80|               0|                8|                    1|              3|             1|                 0|                      0|                   0|
| 35|       No|    Travel_Rarely|     1229|Research & Develo...|               8|        1|   Life Sciences|            1|            63|                      4|  Male|        36|             4|       1|Laboratory Techni...|              4|      Married|         2269|       4892|                 1|     Y|      No|               19|                3|                       4|           80|               0|                1|                    2|              3|             1|                 0|                      0|                   1|
| 35|       No|       Non-Travel|     1097|Research & Develo...|              11|        2|         Medical|            1|            70|                      3|  Male|        79|             2|       3|Healthcare Repres...|              1|      Married|         9884|       8302|                 2|     Y|     Yes|               13|                3|                       3|           80|               1|               10|                    3|              3|             4|                 0|                      2|                   3|
| 35|       No|Travel_Frequently|      853|               Sales|              18|        5|   Life Sciences|            1|            74|                      2|  Male|        71|             3|       3|     Sales Executive|              1|      Married|         9069|      11031|                 1|     Y|      No|               22|                4|                       4|           80|               1|                9|                    3|              2|             9|                 8|                      1|                   8|
| 32|       No|    Travel_Rarely|      427|Research & Develo...|               1|        3|         Medical|            1|            78|                      1|  Male|        33|             3|       2|Manufacturing Dir...|              4|      Married|         6162|      10877|                 1|     Y|     Yes|               22|                4|                       2|           80|               1|                9|                    3|              3|             9|                 8|                      7|                   8|
| 35|       No|Travel_Frequently|      664|Research & Develo...|               1|        3|         Medical|            1|            88|                      2|  Male|        79|             3|       1|  Research Scientist|              1|      Married|         2194|       5868|                 4|     Y|      No|               13|                3|                       4|           80|               1|                5|                    2|              2|             3|                 2|                      1|                   2|
| 36|      Yes|    Travel_Rarely|      318|Research & Develo...|               9|        3|         Medical|            1|            90|                      4|  Male|        79|             2|       1|  Research Scientist|              3|      Married|         3388|      21777|                 0|     Y|     Yes|               17|                3|                       1|           80|               1|                2|                    0|              2|             1|                 0|                      0|                   0|
| 29|       No|    Travel_Rarely|     1328|Research & Develo...|               2|        3|   Life Sciences|            1|            94|                      3|  Male|        76|             3|       1|  Research Scientist|              2|      Married|         2703|       4956|                 0|     Y|      No|               23|                4|                       4|           80|               1|                6|                    3|              3|             5|                 4|                      0|                   4|
| 32|       No|    Travel_Rarely|      548|Research & Develo...|               1|        3|   Life Sciences|            1|            96|                      2|  Male|        66|             3|       2|  Research Scientist|              2|      Married|         6220|       7346|                 1|     Y|      No|               17|                3|                       2|           80|               2|               10|                    3|              3|            10|                 4|                      0|                   9|
| 45|       No|    Travel_Rarely|      193|Research & Develo...|               6|        4|           Other|            1|           101|                      4|  Male|        52|             3|       3|   Research Director|              1|      Married|        13245|      15067|                 4|     Y|     Yes|               14|                3|                       2|           80|               0|               17|                    3|              4|             0|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|      852|Research & Develo...|               1|        1|   Life Sciences|            1|           104|                      4|  Male|        55|             2|       2|Laboratory Techni...|              4|      Married|         5126|      15998|                 1|     Y|     Yes|               12|                3|                       3|           80|               2|               10|                    1|              2|            10|                 8|                      3|                   0|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [26]:
result10 = ibmdata.filter((ibmdata['Gender']=='Male') & (ibmdata['MaritalStatus'] == 'Married') & (ibmdata['Age']>55))
result10.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 59|       No|    Travel_Rarely|      142|Research & Develo...|               3|        3|   Life Sciences|            1|           309|                      3|  Male|        70|             2|       1|  Research Scientist|              4|      Married|         2177|       8456|                 3|     Y|      No|               17|                3|                       1|           80|               1|                7|                    6|              3|             1|                 0|                      0|                   0|
| 59|       No|    Travel_Rarely|      818|     Human Resources|               6|        2|         Medical|            1|           321|                      2|  Male|        52|             3|       1|     Human Resources|              3|      Married|         2267|      25657|                 8|     Y|      No|               17|                3|                       4|           80|               0|                7|                    2|              2|             2|                 2|                      2|                   2|
| 57|       No|    Travel_Rarely|      593|Research & Develo...|               1|        4|         Medical|            1|           482|                      4|  Male|        88|             3|       2|Healthcare Repres...|              3|      Married|         6755|       2967|                 2|     Y|      No|               11|                3|                       3|           80|               0|               15|                    2|              3|             3|                 2|                      1|                   2|
| 56|       No|    Travel_Rarely|      832|Research & Develo...|               9|        3|         Medical|            1|           762|                      3|  Male|        81|             3|       4|Healthcare Repres...|              4|      Married|        11103|      20420|                 7|     Y|      No|               11|                3|                       3|           80|               0|               30|                    1|              2|            10|                 7|                      1|                   1|
| 59|       No|    Travel_Rarely|     1089|               Sales|               1|        2|Technical Degree|            1|          1048|                      2|  Male|        66|             3|       3|             Manager|              4|      Married|        11904|      11038|                 3|     Y|     Yes|               14|                3|                       3|           80|               1|               14|                    1|              1|             6|                 4|                      0|                   4|
| 56|       No|    Travel_Rarely|     1369|Research & Develo...|              23|        3|   Life Sciences|            1|          1373|                      4|  Male|        68|             3|       4|Manufacturing Dir...|              2|      Married|        13402|      18235|                 4|     Y|     Yes|               12|                3|                       1|           80|               1|               33|                    0|              3|            19|                16|                     15|                   9|
| 57|       No|    Travel_Rarely|      405|Research & Develo...|               1|        2|   Life Sciences|            1|          1483|                      2|  Male|        93|             4|       2|  Research Scientist|              3|      Married|         4900|       2721|                 0|     Y|      No|               24|                4|                       1|           80|               1|               13|                    2|              2|            12|                 9|                      2|                   8|
| 58|       No|Travel_Frequently|     1216|Research & Develo...|              15|        4|   Life Sciences|            1|          1837|                      1|  Male|        87|             3|       4|   Research Director|              3|      Married|        15787|      21624|                 2|     Y|     Yes|               14|                3|                       2|           80|               0|               23|                    3|              3|             2|                 2|                      2|                   2|
| 56|      Yes|    Travel_Rarely|      310|Research & Develo...|               7|        2|Technical Degree|            1|          2032|                      4|  Male|        72|             3|       1|Laboratory Techni...|              3|      Married|         2339|       3666|                 8|     Y|      No|               11|                3|                       4|           80|               1|               14|                    4|              1|            10|                 9|                      9|                   8|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+

In [27]:
result11 = ibmdata.filter((ibmdata['EducationField']=="Medical") & (ibmdata['Gender']=="Female"))

In [28]:
result11.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 44|       No|    Travel_Rarely|      477|Research & Develo...|               7|        4|       Medical|            1|            36|                      1|Female|        42|             2|       3|Healthcare Repres...|              4|      Married|        10248|       2094|                 3|     Y|      No|               14|                3|                       4|           80|               1|               24|                    4|              3|            22|                 6|                      5|                  17|
| 43|       No|    Travel_Rarely|     1273|Research & Develo...|               2|        2|       Medical|            1|            46|                      4|Female|        72|             4|       1|  Research Scientist|              3|     Divorced|         2645|      21923|                 1|     Y|      No|               12|                3|                       4|           80|               2|                6|                    3|              2|             5|                 3|                      1|                   4|
| 30|       No|Travel_Frequently|      721|Research & Develo...|               1|        2|       Medical|            1|            57|                      3|Female|        58|             3|       2|Laboratory Techni...|              4|       Single|         4011|      10781|                 1|     Y|      No|               23|                4|                       4|           80|               0|               12|                    2|              3|            12|                 8|                      3|                   7|
| 35|       No|    Travel_Rarely|     1142|Research & Develo...|              23|        4|       Medical|            1|            75|                      3|Female|        30|             3|       1|Laboratory Techni...|              1|      Married|         4014|      16002|                 3|     Y|     Yes|               15|                3|                       3|           80|               1|                4|                    3|              3|             2|                 2|                      2|                   2|
| 50|       No|    Travel_Rarely|      989|Research & Develo...|               7|        2|       Medical|            1|            80|                      2|Female|        43|             2|       5|   Research Director|              3|     Divorced|        18740|      16701|                 5|     Y|     Yes|               12|                3|                       4|           80|               1|               29|                    2|              2|            27|                 3|                     13|                   8|
| 55|       No|    Travel_Rarely|      836|Research & Develo...|               8|        3|       Medical|            1|            84|                      4|Female|        33|             3|       4|             Manager|              3|     Divorced|        14756|      19730|                 2|     Y|     Yes|               14|                3|                       3|           80|               3|               21|                    2|              3|             5|                 0|                      0|                   2|
| 38|       No|       Non-Travel|      573|Research & Develo...|               6|        3|       Medical|            1|           107|                      2|Female|        79|             1|       2|  Research Scientist|              4|     Divorced|         5329|      15717|                 7|     Y|     Yes|               12|                3|                       4|           80|               3|               17|                    3|              3|            13|                11|                      1|                   9|
| 30|       No|    Travel_Rarely|     1334|               Sales|               4|        2|       Medical|            1|           121|                      3|Female|        63|             2|       2|     Sales Executive|              2|     Divorced|         5209|      19760|                 1|     Y|     Yes|               12|                3|                       2|           80|               3|               11|                    4|              2|            11|                 8|                      2|                   7|
| 22|       No|    Travel_Rarely|      534|Research & Develo...|              15|        3|       Medical|            1|           144|                      2|Female|        59|             3|       1|Laboratory Techni...|              4|       Single|         2871|      23785|                 1|     Y|      No|               15|                3|                       3|           80|               0|                1|                    5|              3|             0|                 0|                      0|                   0|
| 51|       No|Travel_Frequently|     1456|Research & Develo...|               1|        4|       Medical|            1|           145|                      1|Female|        30|             2|       3|Healthcare Repres...|              1|       Single|         7484|      25796|                 3|     Y|      No|               20|                4|                       3|           80|               0|               23|                    1|              2|            13|                12|                     12|                   8|
| 34|       No|    Travel_Rarely|     1354|Research & Develo...|               5|        3|       Medical|            1|           153|                      3|Female|        45|             2|       3|             Manager|              1|       Single|        11631|       5615|                 2|     Y|      No|               12|                3|                       4|           80|               0|               14|                    6|              3|            11|                10|                      5|                   8|
| 58|      Yes|    Travel_Rarely|      147|Research & Develo...|              23|        4|       Medical|            1|           165|                      4|Female|        94|             3|       3|Healthcare Repres...|              4|      Married|        10312|       3465|                 1|     Y|      No|               12|                3|                       4|           80|               1|               40|                    3|              2|            40|                10|                     15|                   6|
| 49|       No|    Travel_Rarely|      470|Research & Develo...|              20|        4|       Medical|            1|           170|                      3|Female|        96|             3|       2|Manufacturing Dir...|              1|      Married|         6567|       5549|                 1|     Y|      No|               14|                3|                       3|           80|               0|               16|                    2|              2|            15|                11|                      5|                  11|
| 43|       No|Travel_Frequently|      957|Research & Develo...|              28|        3|       Medical|            1|           171|                      2|Female|        72|             4|       1|  Research Scientist|              3|       Single|         4739|      16090|                 4|     Y|      No|               12|                3|                       4|           80|               0|               18|                    2|              3|             3|                 2|                      1|                   2|
| 32|      Yes|    Travel_Rarely|     1033|Research & Develo...|               9|        3|       Medical|            1|           190|                      1|Female|        41|             3|       1|Laboratory Techni...|              1|       Single|         4200|      10224|                 7|     Y|      No|               22|                4|                       1|           80|               0|               10|                    2|              4|             5|                 4|                      0|                   4|
| 19|       No|    Travel_Rarely|     1181|Research & Develo...|               3|        1|       Medical|            1|           201|                      2|Female|        79|             3|       1|Laboratory Techni...|              2|       Single|         1483|      16102|                 1|     Y|      No|               14|                3|                       4|           80|               0|                1|                    3|              3|             1|                 0|                      0|                   0|
| 40|       No|Travel_Frequently|     1395|Research & Develo...|              26|        3|       Medical|            1|           202|                      2|Female|        54|             3|       2|  Research Scientist|              2|     Divorced|         5605|       8504|                 1|     Y|      No|               11|                3|                       1|           80|               1|               20|                    2|              3|            20|                 7|                      2|                  13|
| 58|       No|    Travel_Rarely|     1145|Research & Develo...|               9|        3|       Medical|            1|           214|                      2|Female|        75|             2|       1|  Research Scientist|              2|      Married|         3346|      11873|                 4|     Y|     Yes|               20|                4|                       2|           80|               1|                9|                    3|              2|             1|                 0|                      0|                   0|
| 31|       No|    Travel_Rarely|      140|Research & Develo...|              12|        1|       Medical|            1|           246|                      3|Female|        95|             3|       1|  Research Scientist|              4|      Married|         3929|       6984|                 8|     Y|     Yes|               23|                4|                       3|           80|               1|                7|                    0|              3|             4|                 2|                      0|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [29]:
#displaying specific data columns only
# only selected columns will be displayed
# Using filter and select together
result11 = ibmdata.filter((ibmdata['Gender']=='Male') & (ibmdata['MaritalStatus'] == 'Married') & (ibmdata['Age']>55))
result11.select('Gender','MaritalStatus','Department','Age').show()

+------+-------------+--------------------+---+
|Gender|MaritalStatus|          Department|Age|
+------+-------------+--------------------+---+
|  Male|      Married|Research & Develo...| 59|
|  Male|      Married|     Human Resources| 59|
|  Male|      Married|Research & Develo...| 57|
|  Male|      Married|Research & Develo...| 56|
|  Male|      Married|               Sales| 59|
|  Male|      Married|Research & Develo...| 56|
|  Male|      Married|Research & Develo...| 57|
|  Male|      Married|Research & Develo...| 58|
|  Male|      Married|Research & Develo...| 56|
+------+-------------+--------------------+---+

In [31]:
result12 = ibmdata.filter(ibmdata['Age']>40).select('Age','Gender').show()

+---+------+
|Age|Gender|
+---+------+
| 41|Female|
| 49|  Male|
| 59|Female|
| 53|Female|
| 53|Female|
| 42|  Male|
| 44|Female|
| 46|Female|
| 44|  Male|
| 43|Female|
| 50|  Male|
| 41|Female|
| 46|  Male|
| 48|  Male|
| 44|Female|
| 50|Female|
| 59|Female|
| 55|Female|
| 45|  Male|
| 59|Female|
+---+------+
only showing top 20 rows

In [34]:
result13 = ibmdata.filter(ibmdata['HourlyRate']>80).select('Department').show()

+--------------------+
|          Department|
+--------------------+
|               Sales|
|Research & Develo...|
|Research & Develo...|
|Research & Develo...|
|Research & Develo...|
|Research & Develo...|
|Research & Develo...|
|Research & Develo...|
|               Sales|
|Research & Develo...|
|Research & Develo...|
|               Sales|
|Research & Develo...|
|               Sales|
|               Sales|
|Research & Develo...|
|               Sales|
|Research & Develo...|
|Research & Develo...|
|               Sales|
+--------------------+
only showing top 20 rows

In [38]:
#Display , department, jobrole of male employees belonging to sales department
result13 = ibmdata.filter((ibmdata['Department']=='Sales') &(ibmdata['Gender']=='Male'))
result13.select('Department','jobRole').show()

+----------+--------------------+
|Department|             jobRole|
+----------+--------------------+
|     Sales|Sales Representative|
|     Sales|     Sales Executive|
|     Sales|Sales Representative|
|     Sales|Sales Representative|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|Sales Representative|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|     Sales Executive|
|     Sales|             Manager|
|     Sales|     Sales Executive|
+----------+--------------------+
only showing top 20 rows

In [49]:
result15 = ibmdata.filter((ibmdata['Gender']=='Female') & (ibmdata['DailyRate']>150) & (ibmdata['MaritalStatus']=='Married') & (ibmdata['Age']>50))

In [50]:
result15.select('Age','Attrition','JobRole','MaritalStatus','DailyRate').show()

+---+---------+--------------------+-------------+---------+
|Age|Attrition|             JobRole|MaritalStatus|DailyRate|
+---+---------+--------------------+-------------+---------+
| 59|       No|Laboratory Techni...|      Married|     1324|
| 53|       No|             Manager|      Married|     1219|
| 54|       No|   Research Director|      Married|     1217|
| 59|       No|             Manager|      Married|     1420|
| 56|      Yes|  Research Scientist|      Married|      441|
| 58|       No|  Research Scientist|      Married|     1145|
| 54|       No|     Sales Executive|      Married|     1147|
| 51|       No|     Sales Executive|      Married|     1178|
| 56|       No|     Sales Executive|      Married|      906|
| 52|       No|             Manager|      Married|     1490|
| 60|       No|             Manager|      Married|      422|
| 60|       No|     Sales Executive|      Married|     1499|
| 52|       No|Laboratory Techni...|      Married|     1325|
| 51|       No|             Manager|      Married|     1318|
| 53|       No|     Sales Executive|      Married|      661|
| 52|       No|Manufacturing Dir...|      Married|      890|
| 54|       No|Manufacturing Dir...|      Married|     1441|
| 52|      Yes|             Manager|      Married|      266|
| 54|       No|     Sales Executive|      Married|     1082|
| 56|       No|  Research Scientist|      Married|     1240|
+---+---------+--------------------+-------------+---------+
only showing top 20 rows

In [59]:
result16 = ibmdata.filter(ibmdata.JobRole.startswith("S") & (ibmdata['MaritalStatus']!='Married'))
#like filter use krne par while checking the character % should be used if only first character match krna hai to

In [60]:
result16.select('JobRole','Department','Age','MaritalStatus').show()

+--------------------+----------+---+-------------+
|             JobRole|Department|Age|MaritalStatus|
+--------------------+----------+---+-------------+
|     Sales Executive|     Sales| 41|       Single|
|Sales Representative|     Sales| 36|       Single|
|     Sales Executive|     Sales| 27|       Single|
|     Sales Executive|     Sales| 34|       Single|
|     Sales Executive|     Sales| 46|       Single|
|     Sales Executive|     Sales| 44|     Divorced|
|     Sales Executive|     Sales| 59|       Single|
|     Sales Executive|     Sales| 59|       Single|
|     Sales Executive|     Sales| 35|       Single|
|Sales Representative|     Sales| 23|     Divorced|
|     Sales Executive|     Sales| 46|       Single|
|     Sales Executive|     Sales| 51|       Single|
|     Sales Executive|     Sales| 30|     Divorced|
|     Sales Executive|     Sales| 32|       Single|
|     Sales Executive|     Sales| 58|       Single|
|     Sales Executive|     Sales| 25|       Single|
|     Sales Executive|     Sales| 37|       Single|
|Sales Representative|     Sales| 19|       Single|
|     Sales Executive|     Sales| 50|       Single|
|     Sales Executive|     Sales| 41|     Divorced|
+--------------------+----------+---+-------------+
only showing top 20 rows