In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 32 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 48.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=77a658f508f522101d3fe9a8f041ff8e0294094052372d33604fe776f2b4ab54
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql.session import SparkSession

In [3]:
# if __name__ =="__main__": 
# Even without this there is another way to create a session

spark = SparkSession.builder.appName("sql2").master("local[2]").getOrCreate()

In [4]:
# reading a file directly with spark.read
ibmdata = spark.read.csv("/content/IBMdata.csv", header = True, inferSchema= True)

In [5]:
ibmdata.count()

1470

In [6]:
result = ibmdata.select("Gender","Age").show()
# or 
# ibmdata.select("Gender","Age").show()  aslo works same

+------+---+
|Gender|Age|
+------+---+
|Female| 41|
|  Male| 49|
|  Male| 37|
|Female| 33|
|  Male| 27|
|  Male| 32|
|Female| 59|
|  Male| 30|
|  Male| 38|
|  Male| 36|
|  Male| 35|
|Female| 29|
|  Male| 31|
|  Male| 34|
|  Male| 28|
|Female| 29|
|  Male| 32|
|  Male| 22|
|Female| 53|
|  Male| 38|
+------+---+
only showing top 20 rows

In [7]:
ibmdata.select("*").show(5)
# selecting all columns for the first 5 rows

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 5 rows

In [8]:
ibmdata.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [9]:
ibmdata.columns #column is property; jinke bhi age sqaures hai wo functions hai; jiske age tool hai wo property hai

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [10]:
ibmdata.head(2)

[Row(Age=41, Attrition='Yes', BusinessTravel='Travel_Rarely', DailyRate=1102, Department='Sales', DistanceFromHome=1, Education=2, EducationField='Life Sciences', EmployeeCount=1, EmployeeNumber=1, EnvironmentSatisfaction=2, Gender='Female', HourlyRate=94, JobInvolvement=3, JobLevel=2, JobRole='Sales Executive', JobSatisfaction=4, MaritalStatus='Single', MonthlyIncome=5993, MonthlyRate=19479, NumCompaniesWorked=8, Over18='Y', OverTime='Yes', PercentSalaryHike=11, PerformanceRating=3, RelationshipSatisfaction=1, StandardHours=80, StockOptionLevel=0, TotalWorkingYears=8, TrainingTimesLastYear=0, WorkLifeBalance=1, YearsAtCompany=6, YearsInCurrentRole=4, YearsSinceLastPromotion=0, YearsWithCurrManager=5),
 Row(Age=49, Attrition='No', BusinessTravel='Travel_Frequently', DailyRate=279, Department='Research & Development', DistanceFromHome=8, Education=1, EducationField='Life Sciences', EmployeeCount=1, EmployeeNumber=2, EnvironmentSatisfaction=3, Gender='Male', HourlyRate=61, JobInvolvement=2, JobLevel=2, JobRole='Research Scientist', JobSatisfaction=2, MaritalStatus='Married', MonthlyIncome=5130, MonthlyRate=24907, NumCompaniesWorked=1, Over18='Y', OverTime='No', PercentSalaryHike=23, PerformanceRating=4, RelationshipSatisfaction=4, StandardHours=80, StockOptionLevel=1, TotalWorkingYears=10, TrainingTimesLastYear=3, WorkLifeBalance=3, YearsAtCompany=10, YearsInCurrentRole=7, YearsSinceLastPromotion=1, YearsWithCurrManager=7)]

In [11]:
type(ibmdata) 
#basic of pyspark is RDD and a dataframe is built upon the RDD. 
# since the basic building block of spark is RDD therefore all the functions of RDD can be applied to RDD too.

pyspark.sql.dataframe.DataFrame

In [12]:
#Using RDD functions on ibmdata
ibmdata.take(4)

[Row(Age=41, Attrition='Yes', BusinessTravel='Travel_Rarely', DailyRate=1102, Department='Sales', DistanceFromHome=1, Education=2, EducationField='Life Sciences', EmployeeCount=1, EmployeeNumber=1, EnvironmentSatisfaction=2, Gender='Female', HourlyRate=94, JobInvolvement=3, JobLevel=2, JobRole='Sales Executive', JobSatisfaction=4, MaritalStatus='Single', MonthlyIncome=5993, MonthlyRate=19479, NumCompaniesWorked=8, Over18='Y', OverTime='Yes', PercentSalaryHike=11, PerformanceRating=3, RelationshipSatisfaction=1, StandardHours=80, StockOptionLevel=0, TotalWorkingYears=8, TrainingTimesLastYear=0, WorkLifeBalance=1, YearsAtCompany=6, YearsInCurrentRole=4, YearsSinceLastPromotion=0, YearsWithCurrManager=5),
 Row(Age=49, Attrition='No', BusinessTravel='Travel_Frequently', DailyRate=279, Department='Research & Development', DistanceFromHome=8, Education=1, EducationField='Life Sciences', EmployeeCount=1, EmployeeNumber=2, EnvironmentSatisfaction=3, Gender='Male', HourlyRate=61, JobInvolvement=2, JobLevel=2, JobRole='Research Scientist', JobSatisfaction=2, MaritalStatus='Married', MonthlyIncome=5130, MonthlyRate=24907, NumCompaniesWorked=1, Over18='Y', OverTime='No', PercentSalaryHike=23, PerformanceRating=4, RelationshipSatisfaction=4, StandardHours=80, StockOptionLevel=1, TotalWorkingYears=10, TrainingTimesLastYear=3, WorkLifeBalance=3, YearsAtCompany=10, YearsInCurrentRole=7, YearsSinceLastPromotion=1, YearsWithCurrManager=7),
 Row(Age=37, Attrition='Yes', BusinessTravel='Travel_Rarely', DailyRate=1373, Department='Research & Development', DistanceFromHome=2, Education=2, EducationField='Other', EmployeeCount=1, EmployeeNumber=4, EnvironmentSatisfaction=4, Gender='Male', HourlyRate=92, JobInvolvement=2, JobLevel=1, JobRole='Laboratory Technician', JobSatisfaction=3, MaritalStatus='Single', MonthlyIncome=2090, MonthlyRate=2396, NumCompaniesWorked=6, Over18='Y', OverTime='Yes', PercentSalaryHike=15, PerformanceRating=3, RelationshipSatisfaction=2, StandardHours=80, StockOptionLevel=0, TotalWorkingYears=7, TrainingTimesLastYear=3, WorkLifeBalance=3, YearsAtCompany=0, YearsInCurrentRole=0, YearsSinceLastPromotion=0, YearsWithCurrManager=0),
 Row(Age=33, Attrition='No', BusinessTravel='Travel_Frequently', DailyRate=1392, Department='Research & Development', DistanceFromHome=3, Education=4, EducationField='Life Sciences', EmployeeCount=1, EmployeeNumber=5, EnvironmentSatisfaction=4, Gender='Female', HourlyRate=56, JobInvolvement=3, JobLevel=1, JobRole='Research Scientist', JobSatisfaction=3, MaritalStatus='Married', MonthlyIncome=2909, MonthlyRate=23159, NumCompaniesWorked=1, Over18='Y', OverTime='Yes', PercentSalaryHike=11, PerformanceRating=3, RelationshipSatisfaction=3, StandardHours=80, StockOptionLevel=0, TotalWorkingYears=8, TrainingTimesLastYear=3, WorkLifeBalance=3, YearsAtCompany=8, YearsInCurrentRole=7, YearsSinceLastPromotion=3, YearsWithCurrManager=0)]

In [13]:
ibmdata.describe()

DataFrame[summary: string, Age: string, Attrition: string, BusinessTravel: string, DailyRate: string, Department: string, DistanceFromHome: string, Education: string, EducationField: string, EmployeeCount: string, EmployeeNumber: string, EnvironmentSatisfaction: string, Gender: string, HourlyRate: string, JobInvolvement: string, JobLevel: string, JobRole: string, JobSatisfaction: string, MaritalStatus: string, MonthlyIncome: string, MonthlyRate: string, NumCompaniesWorked: string, Over18: string, OverTime: string, PercentSalaryHike: string, PerformanceRating: string, RelationshipSatisfaction: string, StandardHours: string, StockOptionLevel: string, TotalWorkingYears: string, TrainingTimesLastYear: string, WorkLifeBalance: string, YearsAtCompany: string, YearsInCurrentRole: string, YearsSinceLastPromotion: string, YearsWithCurrManager: string]

In [14]:
ibmdata.describe().show()

+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|summary|               Age|Attrition|BusinessTravel|         DailyRate|     Department|DistanceFromHome|         Education|  EducationField|EmployeeCount|   EmployeeNumber|EnvironmentSatisfaction|Gender|        HourlyRate|    JobInvolvement|          JobLevel|             JobRole|   JobSatisfaction|MaritalStatus|    MonthlyIncome|       MonthlyRate|NumCompaniesWorked|Over18|OverTime| PercentSalaryHike|  PerformanceRating|RelationshipSatisfaction|StandardHours|  StockOptionLevel| TotalWorkingYears|TrainingTimesLastYear|   WorkLifeBalance|    YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|  count|              1470|     1470|          1470|              1470|           1470|            1470|              1470|            1470|         1470|             1470|                   1470|  1470|              1470|              1470|              1470|                1470|              1470|         1470|             1470|              1470|              1470|  1470|    1470|              1470|               1470|                    1470|         1470|              1470|              1470|                 1470|              1470|              1470|              1470|                   1470|                1470|
|   mean|36.923809523809524|     null|          null| 802.4857142857143|           null|9.19251700680272| 2.912925170068027|            null|          1.0|1024.865306122449|      2.721768707482993|  null| 65.89115646258503|2.7299319727891156|2.0639455782312925|                null|2.7285714285714286|         null|6502.931292517007|14313.103401360544|2.6931972789115646|  null|    null|15.209523809523809| 3.1537414965986397|      2.7122448979591836|         80.0|0.7938775510204081|11.279591836734694|   2.7993197278911564|2.7612244897959184|7.0081632653061225| 4.229251700680272|     2.1877551020408164|    4.12312925170068|
| stddev| 9.135373489136729|     null|          null|403.50909994352804|           null|8.10686443566608|1.0241649445978718|            null|          0.0|602.0243348474752|     1.0930822146350003|  null|20.329427593996176|0.7115611429632297|1.1069398989351202|                null|1.1028461230547213|         null|4707.956783097992| 7117.786044059972|2.4980090060707463|  null|    null|3.6599377165396385|0.36082352460434397|      1.0812088864403517|          0.0|0.8520766679308381| 7.780781675514995|   1.2892706207958466|0.7064758297141507| 6.126525152403571| 3.623137034670627|     3.2224302791379693|  3.5681361205404363|
|    min|                18|       No|    Non-Travel|               102|Human Resources|               1|                 1| Human Resources|            1|                1|                      1|Female|                30|                 1|                 1|Healthcare Repres...|                 1|     Divorced|             1009|              2094|                 0|     Y|      No|                11|                  3|                       1|           80|                 0|                 0|                    0|                 1|                 0|                 0|                      0|                   0|
|    max|                60|      Yes| Travel_Rarely|              1499|          Sales|              29|                 5|Technical Degree|            1|             2068|                      4|  Male|               100|                 4|                 5|Sales Representative|                 4|       Single|            19999|             26999|                 9|     Y|     Yes|                25|                  4|                       4|           80|                 3|                40|                    6|                 4|                40|                18|                     15|                  17|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+

In [17]:
ibmdata.distinct().show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 27|       No|    Travel_Rarely|      608|Research & Develo...|               1|        2|   Life Sciences|            1|           725|                      3|Female|        68|             3|       3|Manufacturing Dir...|              1|      Married|         7412|       6009|                 1|     Y|      No|               11|                3|                       4|           80|               0|                9|                    3|              3|             9|                 7|                      0|                   7|
| 41|       No|    Travel_Rarely|      314|     Human Resources|               1|        3| Human Resources|            1|           734|                      4|  Male|        59|             2|       5|             Manager|              3|      Married|        19189|      19562|                 1|     Y|      No|               12|                3|                       2|           80|               1|               22|                    3|              3|            22|                 7|                      2|                  10|
| 25|       No|    Travel_Rarely|      141|               Sales|               3|        1|           Other|            1|           879|                      3|  Male|        98|             3|       2|     Sales Executive|              1|      Married|         4194|      14363|                 1|     Y|     Yes|               18|                3|                       4|           80|               0|                5|                    3|              3|             5|                 3|                      0|                   3|
| 21|      Yes|    Travel_Rarely|     1427|Research & Develo...|              18|        1|           Other|            1|           923|                      4|Female|        65|             3|       1|  Research Scientist|              4|       Single|         2693|       8870|                 1|     Y|      No|               19|                3|                       1|           80|               0|                1|                    3|              2|             1|                 0|                      0|                   0|
| 56|       No|    Travel_Rarely|      718|Research & Develo...|               4|        4|Technical Degree|            1|          1191|                      4|Female|        92|             3|       5|             Manager|              1|     Divorced|        19943|      18575|                 4|     Y|      No|               13|                3|                       4|           80|               1|               28|                    2|              3|             5|                 2|                      4|                   2|
| 25|       No|    Travel_Rarely|      949|Research & Develo...|               1|        3|Technical Degree|            1|          1415|                      1|  Male|        81|             3|       1|Laboratory Techni...|              4|      Married|         3229|       4910|                 4|     Y|      No|               11|                3|                       2|           80|               1|                7|                    2|              2|             3|                 2|                      0|                   2|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|         Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 34|       No|       Non-Travel|     1065|               Sales|              23|        4|       Marketing|            1|            60|                      2|  Male|        72|             3|       2|     Sales Executive|              3|       Single|         4568|      10034|                 0|     Y|      No|               20|                4|                       3|           80|               0|               10|                    2|              3|             9|                 5|                      8|                   7|
| 50|       No|    Travel_Rarely|      328|Research & Develo...|               1|        3|         Medical|            1|           249|                      3|  Male|        86|             2|       1|Laboratory Techni...|              3|      Married|         3690|       3425|                 2|     Y|      No|               15|                3|                       4|           80|               1|                5|                    2|              2|             3|                 2|                      0|                   2|
| 25|       No|       Non-Travel|      675|Research & Develo...|               5|        2|   Life Sciences|            1|           369|                      2|  Male|        85|             4|       2|Healthcare Repres...|              1|     Divorced|         4000|      18384|                 1|     Y|      No|               12|                3|                       4|           80|               2|                6|                    2|              3|             6|                 3|                      1|                   5|
| 18|      Yes|Travel_Frequently|     1306|               Sales|               5|        3|       Marketing|            1|           614|                      2|  Male|        69|             3|       1|Sales Representative|              2|       Single|         1878|       8059|                 1|     Y|     Yes|               14|                3|                       4|           80|               0|                0|                    3|              3|             0|                 0|                      0|                   0|
| 36|       No|    Travel_Rarely|     1425|Research & Develo...|              14|        1|   Life Sciences|            1|           924|                      3|  Male|        68|             3|       2|Healthcare Repres...|              4|      Married|         6586|       4821|                 0|     Y|     Yes|               17|                3|                       1|           80|               1|               17|                    2|              2|            16|                 8|                      4|                  11|
| 28|       No|    Travel_Rarely|      950|Research & Develo...|               3|        3|         Medical|            1|          1121|                      4|Female|        93|             3|       3|Manufacturing Dir...|              2|     Divorced|         7655|       8039|                 0|     Y|      No|               17|                3|                       2|           80|               3|               10|                    3|              2|             9|                 7|                      1|                   7|
| 30|       No|    Travel_Rarely|      634|Research & Develo...|              17|        4|         Medical|            1|          1321|                      2|Female|        95|             3|       3|             Manager|              1|      Married|        11916|      25927|                 1|     Y|     Yes|               23|                4|                       4|           80|               2|                9|                    2|              3|             9|                 1|                      0|                   8|
| 28|       No|    Travel_Rarely|      736|               Sales|              26|        3|   Life Sciences|            1|          1387|                      3|  Male|        48|             2|       2|     Sales Executive|              1|      Married|         4724|      24232|                 1|     Y|      No|               11|                3|                       3|           80|               1|                5|                    0|              3|             5|                 3|                      0|                   4|
| 37|       No|    Travel_Rarely|      589|               Sales|               9|        2|       Marketing|            1|          1787|                      2|  Male|        46|             2|       2|     Sales Executive|              2|      Married|         4189|       8800|                 1|     Y|      No|               14|                3|                       1|           80|               2|                5|                    2|              3|             5|                 2|                      0|                   3|
| 32|      Yes|Travel_Frequently|      238|Research & Develo...|               5|        2|   Life Sciences|            1|          1939|                      1|Female|        47|             4|       1|  Research Scientist|              3|       Single|         2432|      15318|                 3|     Y|     Yes|               14|                3|                       1|           80|               0|                8|                    2|              3|             4|                 1|                      0|                   3|
| 33|       No|Travel_Frequently|      515|Research & Develo...|               1|        2|   Life Sciences|            1|            73|                      1|Female|        98|             3|       3|   Research Director|              4|       Single|        13458|      15146|                 1|     Y|     Yes|               12|                3|                       3|           80|               0|               15|                    1|              3|            15|                14|                      8|                  12|
| 45|       No|    Travel_Rarely|     1268|               Sales|               4|        2|   Life Sciences|            1|           240|                      3|Female|        30|             3|       2|     Sales Executive|              1|     Divorced|         5006|       6319|                 4|     Y|     Yes|               11|                3|                       1|           80|               1|                9|                    3|              4|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|     1107|Research & Develo...|              28|        4|   Life Sciences|            1|          1120|                      3|Female|        93|             3|       1|  Research Scientist|              4|     Divorced|         2514|      26968|                 4|     Y|      No|               22|                4|                       1|           80|               1|               11|                    1|              3|             7|                 5|                      1|                   7|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [18]:
#removing duplicate data elements from the csv
newibm = ibmdata.distinct()
newibm.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 27|       No|    Travel_Rarely|      608|Research & Develo...|               1|        2|   Life Sciences|            1|           725|                      3|Female|        68|             3|       3|Manufacturing Dir...|              1|      Married|         7412|       6009|                 1|     Y|      No|               11|                3|                       4|           80|               0|                9|                    3|              3|             9|                 7|                      0|                   7|
| 41|       No|    Travel_Rarely|      314|     Human Resources|               1|        3| Human Resources|            1|           734|                      4|  Male|        59|             2|       5|             Manager|              3|      Married|        19189|      19562|                 1|     Y|      No|               12|                3|                       2|           80|               1|               22|                    3|              3|            22|                 7|                      2|                  10|
| 25|       No|    Travel_Rarely|      141|               Sales|               3|        1|           Other|            1|           879|                      3|  Male|        98|             3|       2|     Sales Executive|              1|      Married|         4194|      14363|                 1|     Y|     Yes|               18|                3|                       4|           80|               0|                5|                    3|              3|             5|                 3|                      0|                   3|
| 21|      Yes|    Travel_Rarely|     1427|Research & Develo...|              18|        1|           Other|            1|           923|                      4|Female|        65|             3|       1|  Research Scientist|              4|       Single|         2693|       8870|                 1|     Y|      No|               19|                3|                       1|           80|               0|                1|                    3|              2|             1|                 0|                      0|                   0|
| 56|       No|    Travel_Rarely|      718|Research & Develo...|               4|        4|Technical Degree|            1|          1191|                      4|Female|        92|             3|       5|             Manager|              1|     Divorced|        19943|      18575|                 4|     Y|      No|               13|                3|                       4|           80|               1|               28|                    2|              3|             5|                 2|                      4|                   2|
| 25|       No|    Travel_Rarely|      949|Research & Develo...|               1|        3|Technical Degree|            1|          1415|                      1|  Male|        81|             3|       1|Laboratory Techni...|              4|      Married|         3229|       4910|                 4|     Y|      No|               11|                3|                       2|           80|               1|                7|                    2|              2|             3|                 2|                      0|                   2|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|         Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 34|       No|       Non-Travel|     1065|               Sales|              23|        4|       Marketing|            1|            60|                      2|  Male|        72|             3|       2|     Sales Executive|              3|       Single|         4568|      10034|                 0|     Y|      No|               20|                4|                       3|           80|               0|               10|                    2|              3|             9|                 5|                      8|                   7|
| 50|       No|    Travel_Rarely|      328|Research & Develo...|               1|        3|         Medical|            1|           249|                      3|  Male|        86|             2|       1|Laboratory Techni...|              3|      Married|         3690|       3425|                 2|     Y|      No|               15|                3|                       4|           80|               1|                5|                    2|              2|             3|                 2|                      0|                   2|
| 25|       No|       Non-Travel|      675|Research & Develo...|               5|        2|   Life Sciences|            1|           369|                      2|  Male|        85|             4|       2|Healthcare Repres...|              1|     Divorced|         4000|      18384|                 1|     Y|      No|               12|                3|                       4|           80|               2|                6|                    2|              3|             6|                 3|                      1|                   5|
| 18|      Yes|Travel_Frequently|     1306|               Sales|               5|        3|       Marketing|            1|           614|                      2|  Male|        69|             3|       1|Sales Representative|              2|       Single|         1878|       8059|                 1|     Y|     Yes|               14|                3|                       4|           80|               0|                0|                    3|              3|             0|                 0|                      0|                   0|
| 36|       No|    Travel_Rarely|     1425|Research & Develo...|              14|        1|   Life Sciences|            1|           924|                      3|  Male|        68|             3|       2|Healthcare Repres...|              4|      Married|         6586|       4821|                 0|     Y|     Yes|               17|                3|                       1|           80|               1|               17|                    2|              2|            16|                 8|                      4|                  11|
| 28|       No|    Travel_Rarely|      950|Research & Develo...|               3|        3|         Medical|            1|          1121|                      4|Female|        93|             3|       3|Manufacturing Dir...|              2|     Divorced|         7655|       8039|                 0|     Y|      No|               17|                3|                       2|           80|               3|               10|                    3|              2|             9|                 7|                      1|                   7|
| 30|       No|    Travel_Rarely|      634|Research & Develo...|              17|        4|         Medical|            1|          1321|                      2|Female|        95|             3|       3|             Manager|              1|      Married|        11916|      25927|                 1|     Y|     Yes|               23|                4|                       4|           80|               2|                9|                    2|              3|             9|                 1|                      0|                   8|
| 28|       No|    Travel_Rarely|      736|               Sales|              26|        3|   Life Sciences|            1|          1387|                      3|  Male|        48|             2|       2|     Sales Executive|              1|      Married|         4724|      24232|                 1|     Y|      No|               11|                3|                       3|           80|               1|                5|                    0|              3|             5|                 3|                      0|                   4|
| 37|       No|    Travel_Rarely|      589|               Sales|               9|        2|       Marketing|            1|          1787|                      2|  Male|        46|             2|       2|     Sales Executive|              2|      Married|         4189|       8800|                 1|     Y|      No|               14|                3|                       1|           80|               2|                5|                    2|              3|             5|                 2|                      0|                   3|
| 32|      Yes|Travel_Frequently|      238|Research & Develo...|               5|        2|   Life Sciences|            1|          1939|                      1|Female|        47|             4|       1|  Research Scientist|              3|       Single|         2432|      15318|                 3|     Y|     Yes|               14|                3|                       1|           80|               0|                8|                    2|              3|             4|                 1|                      0|                   3|
| 33|       No|Travel_Frequently|      515|Research & Develo...|               1|        2|   Life Sciences|            1|            73|                      1|Female|        98|             3|       3|   Research Director|              4|       Single|        13458|      15146|                 1|     Y|     Yes|               12|                3|                       3|           80|               0|               15|                    1|              3|            15|                14|                      8|                  12|
| 45|       No|    Travel_Rarely|     1268|               Sales|               4|        2|   Life Sciences|            1|           240|                      3|Female|        30|             3|       2|     Sales Executive|              1|     Divorced|         5006|       6319|                 4|     Y|     Yes|               11|                3|                       1|           80|               1|                9|                    3|              4|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|     1107|Research & Develo...|              28|        4|   Life Sciences|            1|          1120|                      3|Female|        93|             3|       1|  Research Scientist|              4|     Divorced|         2514|      26968|                 4|     Y|      No|               22|                4|                       1|           80|               1|               11|                    1|              3|             7|                 5|                      1|                   7|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [21]:
#count and show function ek sath kam nhi krte hai

In [26]:
#pyspark built-in functions implemmentations
from pyspark.sql.functions import substring,sum,mean,skewness,variance,rank,min,max,countDistinct,first,last,kurtosis,stddev

In [25]:
print(ibmdata.select(min("Age")).show())
# select min(age) from ibmdata in sql querry

+--------+
|min(Age)|
+--------+
|      18|
+--------+

None

In [32]:
print(ibmdata.select(max("DailyRate")).show())

+--------------+-------------------+
|max(DailyRate)|kurtosis(DailyRate)|
+--------------+-------------------+
|          1499|-1.2038109279028495|
+--------------+-------------------+

None

In [30]:
print(ibmdata.select(sum("MonthlyRate")).show())

+----------------+
|sum(MonthlyRate)|
+----------------+
|        21040262|
+----------------+

None

In [33]:
print(ibmdata.select(skewness("DailyRate"), kurtosis("DailyRate")).show())

+--------------------+-------------------+
| skewness(DailyRate)|kurtosis(DailyRate)|
+--------------------+-------------------+
|-0.00351497695829...|-1.2038109279028495|
+--------------------+-------------------+

None

In [36]:
print(ibmdata.select(max("MonthlyIncome"), stddev("MonthlyIncome")).show())

+------------------+--------------------------+
|max(MonthlyIncome)|stddev_samp(MonthlyIncome)|
+------------------+--------------------------+
|             19999|         4707.956783097992|
+------------------+--------------------------+

None

In [41]:
#jab bhi filter aur select lagaana hia toh pehle filter lagega aur fr badme select
print(ibmdata.filter(ibmdata['Gender']=='Male').select(min('Age')).show())

+--------+
|min(Age)|
+--------+
|      18|
+--------+

None

In [43]:
print(ibmdata.select(first('Age'), last('Age')).show())

+----------+---------+
|first(Age)|last(Age)|
+----------+---------+
|        41|       34|
+----------+---------+

None

In [44]:
#Using Alias to change the heading
print(ibmdata.select(first('Age').alias('First'), last('Age').alias("Last")).show())
#column name has been changed

+-----+----+
|First|Last|
+-----+----+
|   41|  34|
+-----+----+

None

In [46]:
print(ibmdata.select(substring("JobRole", 1,5)).show(5))
#showing job role of only first five rows

+------------------------+
|substring(JobRole, 1, 5)|
+------------------------+
|                   Sales|
|                   Resea|
|                   Labor|
|                   Resea|
|                   Labor|
+------------------------+
only showing top 5 rows

None

In [48]:
ibmdata.filter((ibmdata['Department']=='Sales') & (ibmdata['Age']>40)).show()

+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|     Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 53|       No|    Travel_Rarely|     1219|     Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 42|       No|    Travel_Rarely|      691|     Sales|               8|        4|     Marketing|            1|            35|                      3|  Male|        48|             3|       2|     Sales Executive|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|               1|               10|                    2|              3|             9|                 7|                      4|                   2|
| 46|       No|    Travel_Rarely|      705|     Sales|               2|        4|     Marketing|            1|            38|                      2|Female|        83|             3|       5|             Manager|              1|       Single|        18947|      22822|                 3|     Y|      No|               12|                3|                       4|           80|               0|               22|                    2|              2|             2|                 2|                      2|                   1|
| 50|      Yes|    Travel_Rarely|      869|     Sales|               3|        2|     Marketing|            1|            47|                      1|  Male|        86|             2|       1|Sales Representative|              3|      Married|         2683|       3810|                 1|     Y|     Yes|               14|                3|                       3|           80|               0|                3|                    2|              3|             3|                 2|                      0|                   2|
| 46|       No|Travel_Frequently|     1211|     Sales|               5|        4|     Marketing|            1|            62|                      1|  Male|        98|             3|       2|     Sales Executive|              4|       Single|         5772|      20445|                 4|     Y|     Yes|               21|                4|                       3|           80|               0|               14|                    4|              3|             9|                 6|                      0|                   8|
| 44|       No|    Travel_Rarely|     1488|     Sales|               1|        5|     Marketing|            1|            68|                      2|Female|        75|             3|       2|     Sales Executive|              1|     Divorced|         5454|       4009|                 5|     Y|     Yes|               21|                4|                       3|           80|               1|                9|                    2|              2|             4|                 3|                      1|                   3|
| 59|       No|    Travel_Rarely|     1435|     Sales|              25|        3| Life Sciences|            1|            81|                      1|Female|        99|             3|       3|     Sales Executive|              1|       Single|         7637|       2354|                 7|     Y|      No|               11|                3|                       4|           80|               0|               28|                    3|              2|            21|                16|                      7|                   9|
| 59|       No|Travel_Frequently|     1225|     Sales|               1|        1| Life Sciences|            1|            91|                      1|Female|        57|             2|       2|     Sales Executive|              3|       Single|         5473|      24668|                 7|     Y|      No|               11|                3|                       4|           80|               0|               20|                    2|              2|             4|                 3|                      1|                   3|
| 55|       No|    Travel_Rarely|      111|     Sales|               1|        2| Life Sciences|            1|           106|                      1|  Male|        70|             3|       3|     Sales Executive|              4|      Married|        10239|      18092|                 3|     Y|      No|               14|                3|                       4|           80|               1|               24|                    4|              3|             1|                 0|                      1|                   0|
| 46|      Yes|    Travel_Rarely|      669|     Sales|               9|        2|       Medical|            1|           118|                      3|  Male|        64|             2|       3|     Sales Executive|              4|       Single|         9619|      13596|                 1|     Y|      No|               16|                3|                       4|           80|               0|                9|                    3|              3|             9|                 8|                      4|                   7|
| 51|       No|    Travel_Rarely|      632|     Sales|              21|        4|     Marketing|            1|           120|                      3|  Male|        71|             3|       2|     Sales Executive|              4|       Single|         5441|       8423|                 0|     Y|     Yes|               22|                4|                       4|           80|               0|               11|                    2|              1|            10|                 7|                      1|                   0|
| 58|       No|    Travel_Rarely|      682|     Sales|              10|        4|       Medical|            1|           131|                      4|  Male|        37|             3|       4|     Sales Executive|              3|       Single|        13872|      24409|                 0|     Y|      No|               13|                3|                       3|           80|               0|               38|                    1|              2|            37|                10|                      1|                   8|
| 43|       No|Travel_Frequently|      394|     Sales|              26|        2| Life Sciences|            1|           158|                      3|  Male|        92|             3|       4|             Manager|              4|      Married|        16959|      19494|                 1|     Y|     Yes|               12|                3|                       4|           80|               2|               25|                    3|              4|            25|                12|                      4|                  12|
| 50|       No|Travel_Frequently|      809|     Sales|              12|        3|     Marketing|            1|           174|                      3|Female|        77|             3|       3|     Sales Executive|              4|       Single|         9208|       6645|                 4|     Y|      No|               11|                3|                       4|           80|               0|               16|                    3|              3|             2|                 2|                      2|                   1|
| 41|       No|    Travel_Rarely|      802|     Sales|               9|        1| Life Sciences|            1|           176|                      3|  Male|        96|             3|       3|     Sales Executive|              3|     Divorced|         8189|      21196|                 3|     Y|     Yes|               13|                3|                       3|           80|               1|               12|                    2|              3|             9|                 7|                      0|                   7|
| 53|       No|    Travel_Rarely|     1436|     Sales|               6|        2|     Marketing|            1|           205|                      2|  Male|        34|             3|       2|Sales Representative|              3|      Married|         2306|      16047|                 2|     Y|     Yes|               20|                4|                       4|           80|               1|               13|                    3|              1|             7|                 7|                      4|                   5|
| 45|       No|    Travel_Rarely|     1268|     Sales|               4|        2| Life Sciences|            1|           240|                      3|Female|        30|             3|       2|     Sales Executive|              1|     Divorced|         5006|       6319|                 4|     Y|     Yes|               11|                3|                       1|           80|               1|                9|                    3|              4|             5|                 4|                      0|                   3|
| 46|       No|    Travel_Rarely|      526|     Sales|               1|        2|     Marketing|            1|           244|                      2|Female|        92|             3|       3|     Sales Executive|              1|     Divorced|        10453|       2137|                 1|     Y|      No|               25|                4|                       3|           80|               3|               24|                    2|              3|            24|                13|                     15|                   7|
| 41|      Yes|    Travel_Rarely|     1356|     Sales|              20|        2|     Marketing|            1|           248|                      2|Female|        70|             3|       1|Sales Representative|              2|       Single|         3140|      21728|                 1|     Y|     Yes|               22|                4|                       4|           80|               0|                4|                    5|              2|             4|                 3|                      0|                   2|
+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [51]:
# countDistinct works as nunique in pandas
ibmdata.filter((ibmdata['Department']=='Sales') & (ibmdata['Age']>40)).select(countDistinct('Department')).show()

+--------------------------+
|count(DISTINCT Department)|
+--------------------------+
|                         1|
+--------------------------+

In [53]:
print(ibmdata.select(countDistinct('JobRole')).show())

+-----------------------+
|count(DISTINCT JobRole)|
+-----------------------+
|                      9|
+-----------------------+

None

In [56]:
from pyspark.sql.functions import sumDistinct, collect_list

In [60]:
print(ibmdata.select(collect_list('Department')).show())

+------------------------+
|collect_list(Department)|
+------------------------+
|    [Sales, Research ...|
+------------------------+

None

In [61]:
from pyspark.sql.functions import count_distinct

In [63]:
# for sql 
# select distinct dept from table
print(ibmdata.select('Department').distinct().show(truncate = False))

+----------------------+
|Department            |
+----------------------+
|Sales                 |
|Research & Development|
|Human Resources       |
+----------------------+

None

In [64]:
# Using aggregate function
# agg function take dictionary in it; key-value pairs leta hai
ibmdata.agg({'Age':'min'}).show()

+--------+
|min(Age)|
+--------+
|      18|
+--------+

In [65]:
ibmdata.agg({'Age':'min','DailyRate':'max', 'MonthlyIncome':'sum'}).show() #multiple functions in one line

+--------------+--------+------------------+
|max(DailyRate)|min(Age)|sum(MonthlyIncome)|
+--------------+--------+------------------+
|          1499|      18|           9559309|
+--------------+--------+------------------+

In [70]:
# six diff functions in aggreagate are sum, min, max, mean, median, count
# pyspark does not suppory median function

In [71]:
ibmdata.groupBy('Department').agg({'Dailyrate':'sum'}).show()

+--------------------+--------------+
|          Department|sum(Dailyrate)|
+--------------------+--------------+
|               Sales|        356923|
|Research & Develo...|        775384|
|     Human Resources|         47347|
+--------------------+--------------+

In [72]:
ibmdata.orderBy('Dailyrate').show(3) #by default ascending me show hua h

+---+---------+--------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+--------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 53|       No| Travel_Rarely|      102|Research & Develo...|              23|        4| Life Sciences|            1|           901|                      4|Female|        72|             3|       4|   Research Director|              4|       Single|        14275|      20206|                 6|     Y|      No|               18|                3|                       3|           80|               0|               33|                    0|              3|            12|                 9|                      3|                   8|
| 28|      Yes| Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 35|      Yes| Travel_Rarely|      104|Research & Develo...|               2|        3| Life Sciences|            1|          1569|                      1|Female|        69|             3|       1|Laboratory Techni...|              1|     Divorced|         2074|      26619|                 1|     Y|     Yes|               12|                3|                       4|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
+---+---------+--------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 3 rows

In [73]:
ibmdata.orderBy('Dailyrate').select('Gender').show(3)

+------+
|Gender|
+------+
|Female|
|  Male|
|Female|
+------+
only showing top 3 rows

In [74]:
data2 = spark.read.csv("/content/file.csv", header = True, inferSchema = True)

In [75]:
data2.show()

+-------+-----+
|   name|marks|
+-------+-----+
|manasvi|   70|
|  yanya|   55|
| shilpa|   35|
|nandini|   78|
|   null| null|
| harman|   70|
|   null| null|
|  rajat|   56|
+-------+-----+

In [76]:
#handling missing values
result1 = data2.na.drop()
result1.show()

+-------+-----+
|   name|marks|
+-------+-----+
|manasvi|   70|
|  yanya|   55|
| shilpa|   35|
|nandini|   78|
| harman|   70|
|  rajat|   56|
+-------+-----+

In [77]:
#filling anything in the null places
result2 = data2.na.fill('CC') 
#pehle fill() me string tha toh jis column ka data type str hoga usme hi value fill hoga isiliye marks column me fill nhi hua
result2.show()

+-------+-----+
|   name|marks|
+-------+-----+
|manasvi|   70|
|  yanya|   55|
| shilpa|   35|
|nandini|   78|
|     CC| null|
| harman|   70|
|     CC| null|
|  rajat|   56|
+-------+-----+

In [78]:
result3 = data2.na.fill(50)
# is bar fill() me int tha toh marks column fill hua
result3.show()

+-------+-----+
|   name|marks|
+-------+-----+
|manasvi|   70|
|  yanya|   55|
| shilpa|   35|
|nandini|   78|
|   null|   50|
| harman|   70|
|   null|   50|
|  rajat|   56|
+-------+-----+

In [82]:
result4 = data2.na.fill('yy', subset = ['name'])
result4.show()

+-------+-----+
|   name|marks|
+-------+-----+
|manasvi|   70|
|  yanya|   55|
| shilpa|   35|
|nandini|   78|
|     yy| null|
| harman|   70|
|     yy| null|
|  rajat|   56|
+-------+-----+

In [83]:
# dropping entries in a specific column rather than dropping it all
result5 = data2.na.drop(subset = ['name'])
result5.show()

+-------+-----+
|   name|marks|
+-------+-----+
|manasvi|   70|
|  yanya|   55|
| shilpa|   35|
|nandini|   78|
| harman|   70|
|  rajat|   56|
+-------+-----+